* {
    margin: 0;
    padding: 0;
}
.body-app{
    display: flex;
    height: 100vh;
}
footer {
    position: fixed; 
   width: 100%;
   background: gray;
   color: white;
   justify-content: center;
   bottom: 0;
      
}
#logo{
    width: 25%;
}

.login-form{
    max-width: 30%;
}

.img{
    width: 15%;
}

video{
    max-width: 100%;
    max-height: 50%;
}

.img1{
    width: 70%;
}


.number{
    width: 50%;
}

.text{
   height: 50%;
}
.user{
    width: 100%;
}